#
# GentooForge – Intel Laptop Minimal Kernel Config
# Targets: Skylake through Meteor Lake (2015+)
#
CONFIG_64BIT=y
CONFIG_X86_64=y
CONFIG_SMP=y
CONFIG_NR_CPUS=16
CONFIG_PREEMPT_VOLUNTARY=y
CONFIG_HZ=250
CONFIG_LOG_BUF_SHIFT=17
CONFIG_EXPERT=y
CONFIG_MODULES=y
CONFIG_MODULE_COMPRESS_XZ=y
CONFIG_MODULE_SIG=y
CONFIG_MODULE_SIG_ALL=n
CONFIG_BLK_DEV_SD=y
CONFIG_NVME_CORE=y
CONFIG_BLK_DEV_NVME=y
CONFIG_ATA=y
CONFIG_SATA_AHCI=y
CONFIG_EXT4_FS=y
CONFIG_BTRFS_FS=m
CONFIG_XFS_FS=m
CONFIG_F2FS_FS=m
CONFIG_VFAT_FS=y
CONFIG_FAT_DEFAULT_IOCHARSET="utf8"
CONFIG_NTFS3_FS=m
CONFIG_OVERLAY_FS=m
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_TMPFS=y
CONFIG_NET=y
CONFIG_INET=y
CONFIG_PACKET=y
CONFIG_UNIX=y
CONFIG_NETDEVICES=y
CONFIG_E1000E=m
CONFIG_IGB=m
CONFIG_R8169=m
CONFIG_IWLWIFI=m
CONFIG_IWLMVM=m
CONFIG_DRM=y
CONFIG_DRM_I915=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_FB=y
CONFIG_FB_EFI=y
CONFIG_USB=y
CONFIG_USB_XHCI_PCI=y
CONFIG_USB_STORAGE=y
CONFIG_USB_HID=y
CONFIG_INPUT=y
CONFIG_INPUT_EVDEV=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_INPUT_MOUSE=y
CONFIG_KEYBOARD_ATKBD=y
CONFIG_MOUSE_PS2=y
CONFIG_SOUND=m
CONFIG_SND=m
CONFIG_SND_HDA_INTEL=m
CONFIG_SND_HDA_CODEC_REALTEK=m
CONFIG_SND_HDA_CODEC_GENERIC=m
CONFIG_SND_HDA_CODEC_HDMI=m
CONFIG_TTY=y
CONFIG_VT=y
CONFIG_UNIX98_PTYS=y
CONFIG_PRINTK=y
CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_EFI=y
CONFIG_EFI_STUB=y
CONFIG_EFI_VARS=y
CONFIG_ACPI=y
CONFIG_CPU_FREQ=y
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=y
CONFIG_X86_INTEL_PSTATE=y
CONFIG_THERMAL=y
CONFIG_THERMAL_GOV_STEP_WISE=y
CONFIG_INTEL_MEI=m
CONFIG_INTEL_MEI_ME=m
CONFIG_INTEL_PCH_THERMAL=m
CONFIG_WATCHDOG=y
CONFIG_I2C=y
CONFIG_I2C_I801=m
CONFIG_HWMON=y
CONFIG_CORETEMP=m
CONFIG_PM=y
CONFIG_SUSPEND=y
CONFIG_HIBERNATION=y
CONFIG_ACPI_BATTERY=m
CONFIG_ACPI_AC=m
CONFIG_THINKPAD_ACPI=m
CONFIG_INTEL_HID_EVENT=m
CONFIG_CRYPTO=y
CONFIG_CRYPTO_AES_NI_INTEL=y
CONFIG_CRYPTO_SHA1_SSSE3=y
CONFIG_CRYPTO_SHA256_SSSE3=y
CONFIG_CRYPTO_CRC32C_INTEL=y
CONFIG_VIRTUALIZATION=y
CONFIG_KVM=m
CONFIG_KVM_INTEL=m